node_modules/
.env
.env.local
.DE_Store
dist/
frontend/ .next/
frontend/node_modules/
backend/node_modules/
easycheck.pdf
FRONTEND_TASKS.md
backend/TEST_DOWNLOAD_API.md
backend/DOWNLOAD_API.md
EasyCheck-API.postman_collection.json
FRONTEND_TODO.md
backend/TEST_DASHBOARD_API.md
backend/FRONTEND_API_SUMMARY.md
DASHBOARD_API_SUMMARY.md
*.md
